.title{
  /* color: #083e77; */
  /* font-family: sans-serif; */
  margin-bottom: 20px;
}

.subtitle{
  /* color: #083e77; */
  /* font-family: Helvetica, sans-serif; */
  margin-bottom: 10px;
}

.p{
  font-size: 12pt;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 15px;
}

.h5{
  margin: 10px;
}

#expander{
  margin-left: 5px;
}

#list{
  margin-left: 15px;
}

/* batas suciiiiii hehe */
.abstrak{
    font-family:roboto;
    font-style: italic;
}


hr.new5 {
  border: 10px solid #DE626D;
  border-radius: 5px;
}

#container{
	width: 800px;
    height: 300px;
    background-color: #e2e2e3;

    /* position:absolute; it can be fixed too */
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

   
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

#content{
	width: 700px;
    height: 350px;
    background-color:#ebecec;

    /* position:absolute; it can be fixed too */


    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}

.nama{
	font-family : Great Vibes;
	color : #DE626D;
	top : 0px;
	left : 90px;
	right : 90px;
	position: absolute;
}

.biodata{
	font-family : LondonTwo Regular;
	font-size : 12pt;
	color : #7d7d7d;
	line-height: 175%;
	top : 80px;
	left : 90px;
	position : absolute;
}


.biodata1{
  font-family : LondonTwo Regular;
	font-size : 12pt;
	color : #7d7d7d;
	line-height: 175%;
}

/* .title{
	font-family : Great Vibes;
	color : #DE626D;
} */


#narrow {
  float: left;
  width: 50%;
  padding-left:5%;
  background-color: #e2e2e3;
}
#wide {
  float: left;
  width: 50%;
  padding-left:5%;
  background-color: #e2e2e3;
}

#parent {
  display: flex;
  margin-top:5%;
}