.title{
  /* color: #083e77; */
  /* font-family: sans-serif; */
  margin-bottom: 20px;
}

.subtitle{
  /* color: #083e77; */
  /* font-family: Helvetica, sans-serif; */
  margin-bottom: 10px;
}

.p{
  font-size: 12pt;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 15px;
}

.h5{
  margin: 10px;
}

#expander{
  margin-left: 5px;
}

#list{
  margin-left: 15px;
}